body {
    background-color: #74b9ff;
}

#content {
    margin-top: 80px !important;
}

.navbar-default {
    background-color: #fff !important;
}

.logo {
    font-family: SignPainter, serif !important;
    font-size: 36px;
    color: #3385c2 !important;
}