{% extends 'base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">

            {% for article in articles %}
                <div class="col-xs-10 col-sm-8 col-md-8 col-xs-offset-1 col-sm-offset-2 col-md-offset-2">
                    <div class="thumbnail">
                        <div class="row user-profile">
                            <div class="col-xs-4">
                                <!-- <img src="{{ article.user.profile_image.url }}" alt="..." class="img-circle"
                                     height="40"> -->
                                <p class="user-name">{{ article.user.username }}</p>
                            </div>
                            <div class="col-xs-8">
                                <div class="article-time">
                                    <p>{{ article.created|date:"g:i a" }}</p>
                                    {% if article.user == request.user %}
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle" type="button"
                                                    id="dropdownMenu1"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                            </button>

                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

                                                <li><a href="{% url 'articles:update' article.id %}">Update</a></li>
                                                <li><a href="{% url 'articles:delete' article.id %}">Delete</a></li>

                                            </ul>

                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if article.image %}
                            <img src="{{ article.image.url }}" alt="{{ article.title }}">
                        {% endif %}
                        <div class="caption">
                            <h3><a href="{% url 'articles:detail' article.id %}">{{ article.title }}</a></h3>
                            <p>{{ article.content|truncatechars:140 }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
